---
layout: default
title: Jim Nielsen, Designer / Problem Solver
type: home
---
{% include header.html %}


{% for section in site.data.sections %}
<article class="section clearfix" id="{{ section.id }}">
  <h1 class="section__header">
    {% if section.url %}
      <a href="{{ section.url }}">
    {% endif %}

    {{ section.title }}

    {% if section.url %}
      </a>
    {% endif %}
  </h1>
  <ul class="section__content">
    {% include sections.html id=section.id %}
  </ul>
  <a href='#' data-scroll class='section__back-to-top'>
    Top ↑
  </a>
</article>
{% endfor %}
