<div class="card card--featured mb-48">
  <p>
    <img
      src="https://blog.jim-nielsen.com/favicon.ico"
      alt="Blog Logo"
      width="64"
      height="64"
    />
  </p>
  <p>
    Personal opinions on all things web related. Written for the last 20 years.
  </p>
  <p><a href="https://blog.jim-nielsen.com">blog.jim-nielsen.com</a></p>
</div>

<h3 class="list-header">Latest posts</h3>
<!-- prettier-ignore -->
<ul class="list">
  ${@map(
    (https://blog.jim-nielsen.com/feed.json)/items,
    (item) => `
    <li>
      ${./btn.ori.html({ href: item/url, title: item/title, subtitle: item/date_published/slice(0,10) })}
    </li>
  `)}
</ul>
