<div class="card card--featured mb-48">
  <p>
    <img
      src="https://cdn.jim-nielsen.com/flyingjpies/${../data/flyingjpies.yaml/0}?optimize=true&w=80"
      alt="macOS Icon Gallery"
      width="64"
      height="64"
    />
  </p>
  <p>
    Making pies and
    <a href="https://blog.jim-nielsen.com/2022/flying-j-pies/"
      >documenting the process</a
    >: pic or it didn’t happen.
  </p>
  <p>
    <a href="https://instagram.com/flyingjpies">instagram.com/flyingjpies</a>
  </p>
</div>

<h3 class="list-header">Latest pies</h3>
<!-- prettier-ignore -->
<ul class="list list--photo-grid">
  ${@map(
    @take(../data/flyingjpies.yaml, 20),
    (item) => `
    <li>
      <!-- <a href=""> -->
        <img src="https://cdn.jim-nielsen.com/flyingjpies/${item}?optimize=true&w=160" alt="Photo of a pie" width="160" height="160" />
      <!-- </a> -->
    </li>
  `)}
</ul>
