<div class="card card--featured mb-48">
  <p>
    <img
      src="https://macosicongallery.com/favicon.ico"
      alt="macOS Icon Gallery"
      width="64"
      height="64"
    />
  </p>
  <p>A curated collection of beautiful icons for macOS.</p>
  <p><a href="https://macosicongallery.com">macosicongallery.com</a></p>
</div>

<h3 class="list-header">Latest icons</h3>
<!-- prettier-ignore -->
<ul class="list-grid">
  ${@map(
    (https://macosicongallery.com/feed.json)/items,
    (item) => `
    <li>
      <a href="${item/url}" >
        <img src="${item/attachments/0/url}" alt="${item/title}" width="80" height="80" />
    </a>
    </li>
  `)}
</ul>
