<div class="card card--featured mb-48">
  <p>
    <img
      src="https://iosicongallery.com/favicon.ico"
      alt="macOS Icon Gallery"
      width="64"
      height="64"
    />
  </p>
  <p>
    Personal collection of beautiful icons for iOS, macOS, and watchOS —
    designed, developed, and curated by me.
  </p>
  <p><a href="https://macosicongallery.com">iosicongallery.com</a></p>
  <p><a href="https://macosicongallery.com">macosicongallery.com</a></p>
  <p style="color: var(--color-text-muted)">2010—Present</p>
</div>

<h3 class="list-header">Latest macOS icons</h3>
<!-- prettier-ignore -->
<ul class="list list-grid">
  ${@map(
    @take((https://macosicongallery.com/feed.json)/items, 12),
    (item) => `
    <li>
      <a href="${item/url}" >
        <img src="${item/attachments/0/url}" alt="${item/title}" width="80" height="80" />
    </a>
    </li>
  `)}
</ul>

<h3 class="list-header">Latest iOS icons</h3>
<!-- prettier-ignore -->
<ul class="list list-grid">
  ${@map(
    @take((https://iosicongallery.com/feed.json)/items, 12),
    (item) => `
    <li>
      <a href="${item/url}" >
        <img src="${item/attachments/0/url}" alt="${item/title}" width="64" height="64" style="border-radius: 22%;" />
    </a>
    </li>
  `)}
</ul>

<h3 class="list-header">Latest watchOS icons</h3>
<!-- prettier-ignore -->
<ul class="list list-grid">
  ${@map(
    @take((https://watchosicongallery.com/feed.json)/items, 12),
    (item) => `
    <li>
      <a href="${item/url}" >
        <img src="${item/attachments/0/url}" alt="${item/title}" width="64" height="64" style="border-radius: 100px" />
    </a>
    </li>
  `)}
</ul>

<h3 class="list-header">People like it</h3>
