<div class="card card--featured mb-48">
  <p>
    <img
      src="https://notes.jim-nielsen.com/favicon.ico"
      alt="Notes Logo"
      width="64"
      height="64"
    />
  </p>
  <p>A blog of notes from other people’s writing, plus my 2¢.</p>
  <p><a href="https://notes.jim-nielsen.com">notes.jim-nielsen.com</a></p>
</div>

<h3 class="list-header">Latest notes</h3>
<!-- prettier-ignore -->
<ul class="list">
  ${@map(
    @take((https://notes.jim-nielsen.com/feed.json)/items, 3),
    (item) => `
    <li>
      ${./btn.ori.html({ href: item/url, title: item/title, subtitle: `${item/_external_url_domain}` })}
    </li>
  `)}
</ul>

<h3 class="list-header">Meta Blog Posts</h3>
<!-- prettier-ignore -->
<ul class="list">
  ${@map(
    /* @filter(https://blog.jim-nielsen.com/archive/index.json, (item) => @js/Array(item/tags)/includes('myNotesSite')), */
    @take(https://blog.jim-nielsen.com/archive/index.json, 3),
    (item) => `
    <li>
      ${./btn.ori.html({ href: item/url, title: item/title, subtitle: item/date/slice(0,10) })}
    </li>
  `)}
</ul>
<p class="list-caption">
  I write about developing my notes site on my blog under the tag
  <a href="https://blog.jim-nielsen.com/tags#myNotesSite">#myNotesSite</a>.
</p>
