/* 
 * Font Custom: bare CSS
 */

@font-face {
  font-family: "custom-font";
  src: url("../fonts/custom-font.eot");
  src: url("../fonts/custom-font.eot?#iefix") format("embedded-opentype"),
       url("../fonts/custom-font.woff") format("woff"),
       url("../fonts/custom-font.ttf") format("truetype"),
       url("../fonts/custom-font.svg#custom-font") format("svg");
  font-weight: normal;
  font-style: normal;
}

.icon-dribbble:before,
.icon-frown:before,
.icon-github:before,
.icon-hammer:before,
.icon-instagram:before,
.icon-menu:before,
.icon-published-articles:before,
.icon-readability:before,
.icon-scriptogram:before,
.icon-twitter:before {
  font-family: "custom-font";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  text-decoration: inherit;
}

.icon-dribbble:before { content: "\f100"; }
.icon-frown:before { content: "\f101"; }
.icon-github:before { content: "\f102"; }
.icon-hammer:before { content: "\f103"; }
.icon-instagram:before { content: "\f104"; }
.icon-menu:before { content: "\f105"; }
.icon-published-articles:before { content: "\f106"; }
.icon-readability:before { content: "\f107"; }
.icon-scriptogram:before { content: "\f108"; }
.icon-twitter:before { content: "\f109"; }
