.header {
    text-align: center;
    padding: 0 0 12em;
    line-height: 1.1;

    font-family: $font-family-header;

    @media screen and (max-width: 600px) {
        padding: 0 0 3em;
    }
}

.header__logo {
    padding: 5em 0;

    @media screen and (max-width: 600px) {
        padding: 3em 0
    }
    
    a {
        display: block;
        width: 240px;
        height: 120px;
        background: url(../images/logo.png) no-repeat 0 0;
        margin: 0 auto;
        text-indent: -9999px;

        @media (-webkit-min-device-pixel-ratio: 2), 
        (min-resolution: 192dpi) { 
            background-image: url(../images/logo@2x.png);
            background-size: 100%;
        }
    }
}

.header__title {
    font-size: #{60 / $font-size-base}em;
    
    letter-spacing: -0.025em;
    margin-bottom: .25em;

    em {
        color: $color-highlight;
        //white-space: pre;
    }

    @media screen and (max-width: 600px) {
        font-size: #{48 / $font-size-base}em;
    }
}

.header__subtitle {
    font-weight: 300;
    color: #444;
    //font-size: #{21 / $font-size-base}em;
    line-height: 1.6;

    letter-spacing: .2em;
    text-transform: uppercase;

    a {
        color: inherit;
    }
}

.header__developer {
    position: absolute;
    top: 0;
    right: 0;
    padding: #{6 / $font-size-base}em #{10 / $font-size-base}em;
    background: $color-highlight;
    color: white;
    @include border-radius(0 3px 0 3px);
    font-size: #{14 / $font-size-base}em;
    font-family: monospace;

    &:hover {
        color: white;
    }
}