$color-background: #292929;
$color-highlight: #c02702;
$color-text-light: #777;
$color-text: #222;
$color-yellow: #fffddf;
$color-border-light: #eee;

$font-size-base: 16;

$font-family-base: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 

$font-family-header: 'EB Garamond', serif;