<header class='header'>
  <img src='assets/img/logo.png' width='210' height='103' />

  <h1>
    Jim Nielsen: Problem Solver.
  </h1>

  <h2>
    Currently Director of Design and UI Architecture @ Insight Catastrophe Group.
  </h2>

  <p>
    My expertise is understanding principles that transcend specific implementations which enables me to execute on the myriad of tasks inherent to building professional web applications – from information architecture to visual design to code.
  </p>

  <nav>
    <ul>
      {% for section in site.data.sections %}
      <li>
        <a href='#{{ section.id }}' data-scroll>
          {{ section.title }}
        </a>
      </li>
      {% endfor %}
    </ul>
  </nav>

  <a href='resume.html' class='header__developer'>
    For Devs
  </a>
</header>
