<header class="header">
    <h1 class="header__title">
      <em>Jim Nielsen:</em> <br />Web design-veloper. Problem solver.
    </h1>
    <dl class="header__subtitle">
      <dt>Design Lead:</dt>
      <dd><a href="http://kindlingapp.com">Kindling</a>, New York City.</dd>
      <dt>Expertise:</dt>
      <dd>CSS, Sass, HTML, UI/UX, Sketch app, Photoshop, Illustrator, InDesign, Identity, Branding, Print production.</dd>
      <dt>Experience:</dt>
      <dd>Javascript, React, ES6, NPM, Node, Babel, Webpack/Browserify, Gulp, jQuery, PHP, Git, Bash, CLI.</dd>
      <dt>Dabbling:</dt>
      <dd>Python, Ruby.</dd>
    </dl>
    <a href="resume.html" class="header__developer">For Devs</a>
</header>
