{% case include.id %}

    {% when 'employment' %}
        {% for job in site.data.employment %}
            <li class="item">
                <div class="item__img">
                    <img src="{{ site.imageurl }}/employment/{{ job.company | downcase | replace: ' ', '-' }}.png" />
                </div>
                <div class="item__content">
                    <h2 class="title">{{ job.title }} @ <a href="{{ job.companyUrl }}" class="link">{{ job.company}}</a></h2>
                    <p class="byline">{{ job.byline }}</p>
                    <p class="description">{{ job.description }}</p>
                    {% if job.projects %}
                      <ul class="projects">
                      {% for project in job.projects %}
                        <li>

                          {% if project.url %}
                            <a href="{{ project.url }}" class="projects__img">
                          {% else %}
                            <div class="projects__img">
                          {% endif %}
                              <img
                                src="{{ site.imageurl }}/employment/{{ project.title | downcase | replace: ' ', '-' }}.png"
                                alt="Project screenshot"
                                width="100"
                                height="75"
                              />
                          {% if project.url %}
                            </a>
                          {% else %}
                            </div>
                          {% endif %}

                          <h3>
                            {% if project.url %}<a href="{{ project.url }}" class="link">{% endif %}
                                {{ project.title }}
                            {% if project.url %}</a>{% endif %}
                          </h3>

                          {% if project.url %}
                          <p class='byline'>
                            <a href="{{ project.url }}">
                              {{ project.urlDomain }}
                            </a>
                          </p>
                          {% endif %}

                          <p class="description">
                            {{ project.description }} <br /><br />
                            Tools used: {{ project.tools }}.
                          </p>

                          {% if project.links %}
                          <ul class="links">
                            {% for link in project.links %}
                              <li>
                                <a href='{{ link.url }}'>
                                  {{ link.title }}
                                </a>
                              </li>
                            {% endfor %}
                          </ul>
                          {% endif %}
                        </li>
                      {% endfor %}
                      </ul>
                    {% endif %}
                </div>
            </li>
        {% endfor %}

    {% when 'dribbble' %}
        {% for shot in site.data.dribbble | limit: 10 %}
            <li class="item">
                <a class="item__img" href="{{ shot.html_url }}">
                    <img src="{{ shot.images.normal }}"
                        alt="{{ shot.title }}"
                        title="{{ shot.title }} on Dribbble"
                        width="400"
                        height="300" />
                </a>
                <div class="item__content">
                    <h2 class="title"><a href="{{ shot.html_url }}" class="link">{{ shot.title }}</a></h2>
                    <p class="byline">{{ shot.created_at | date: "%-d %b, %Y" }}</p>
                    <div class="description">{{ shot.description }}</div>
                </div>
            </li>
        {% endfor %}


    {% when 'published-articles' %}
        {% for article in site.data.published-articles %}
            {% comment %}
                Convert the title to hyphen-sepearted-name
                Then get the file extension, if there is one, otherwise use .png
            {% endcomment %}
            {% assign thumbnail = article.title | downcase | replace:' ','-' | replace:':','' | replace:';','' | replace: ',','' | replace:'“','' | replace:'”','' | replace:'‘','' | replace:'’','' %}
            {% if article.image-type %}
                {% assign thumbnail = thumbnail | append:'.jpg' %}
            {% else %}
                {% assign thumbnail = thumbnail | append:'.png' %}
            {% endif %}


            <li class="item">
                <a class="item__img" href="{{ article.link }}">
                    <img src="{{ site.imageurl }}/published-articles/{{ thumbnail }}" />
                </a>
                <div class="item__content">
                    <a href="{{ article.link }}">
                        <h2 class="title link">{{article.title}}</h2>
                        <p class="byline">
                            {% if article.reader-fav %}
                                <em class="readers-fav"> readers’ fav</em>
                            {% endif %}
                            <time>{{ article.date | date: "%-d %b, %Y" }}</time> via {{ article.publisher }}
                        </p>
                    </a>
                    {% if article.tweets %}
                        {% include tweets.html tweets = article.tweets %}
                    {% endif %}
                </div>
            </li>
        {% endfor %}


    {% when 'side-projects' %}
        {% for project in site.data.side-projects %}
            <li class="item">
                <a class="item__img" href="{{ project.link }}" class="link">
                    <img src="{{ site.imageurl }}/side-projects/{{ project.id }}.png" width="70" height="70" />
                </a>
                <div class="item__content">
                    <h2 class="title link">
                        <a href="{{ project.link }}" class="link">{{ project.title }}</a>
                        {% if project.cta %}
                            &nbsp;| &nbsp;<a href="{{ project.cta }}" class="link">Case Study</a>
                        {% endif %}
                    </h2>
                    <p class="byline"><a href="{{ project.link }}">{{ project.link-pretty }}</a></p>
                    <p class="description">{{ project.description }}</p>
                    {% if project.tweets %}
                        {% include tweets.html tweets = project.tweets %}
                    {% endif %}
                </div>
            </li>
        {% endfor %}

    {% when 'blog' %}
        {% for post in site.data.blog limit:10 %}
            <li class="item">
                <div class="item__img item__img--word-count">
                    <p><b>{{ post.word-count }}</b> words</p>
                </div>
                <a class="item__content" href="{{ post.url }}">
                    <h2 class="title link">{{ post.title }}</h2>
                    <p class="byline"><time>{{ post.date | date: "%-d %b, %Y"}}</time></p>
                </a>
            </li>
        {% endfor %}
{% endcase %}
