{% case include.id %}



  {% when 'published-articles' %}
  {% for article in site.data.published-articles %}
  {% comment %}
  Convert the title to hyphen-sepearted-name
  Then get the file extension, if there is one, otherwise use .png
  {% endcomment %}
  {% assign thumbnail = article.title | downcase | replace:' ','-' | replace:':','' | replace:';','' | replace: ',','' | replace:'“','' | replace:'”','' | replace:'‘','' | replace:'’','' %}
  {% if article.image-type %}
  {% assign thumbnail = thumbnail | append:'.jpg' %}
  {% else %}
  {% assign thumbnail = thumbnail | append:'.png' %}
  {% endif %}


  <li class='item'>
    <a class='item__img' href='{{ article.link }}'>
      <img src='{{ site.imageurl }}/published-articles/{{ thumbnail }}' />
    </a>
    <div class='item__content'>
      <a href='{{ article.link }}'>
        <h2 class='title link'>{{article.title}}</h2>
        <p class='byline'>
          {% if article.reader-fav %}
          <em class='readers-fav'> readers’ fav</em>
          {% endif %}
          <time>{{ article.date | date: '%-d %b, %Y' }}</time> via {{ article.publisher }}
        </p>
      </a>
      {% if article.tweets %}
      {% include tweets.html tweets = article.tweets %}
      {% endif %}
    </div>
  </li>
  {% endfor %}


  {% when 'side-projects' %}
  

  {% when 'blog' %}
 
