.header {
  padding: em(40) $padding-left em(80);
  font-family: $font-family-header;
  text-align: center;

  @media screen and (max-width: 600px) {
    padding: em($spacer) ($padding-left / 2) em($spacer * 2);
  }

  img {
    display: block;
    margin: em(40) auto;
  }

  h1,
  h2 {
  }

  h1 {
    font-size: #{36 / $font-size-base}em;
  }

  h2 {
    font-size: #{24 / $font-size-base}em;
    margin-bottom: em(20, 24);

    a {
      border-bottom: 1px solid $color-text;
    }
  }

  p {
    color: $color-text-light;
    margin-bottom: em(20);
  }

  nav {
    ul {

      li {
        display: inline;

        &:first-child:before {
          display: none;
        }

        &:before {
          content: ' / ';
          color: $color-text-light;
          margin: 0 em(5);
        }
      }
    }

    a {
      color: $color-highlight;
      white-space: nowrap;
      
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.header__developer {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  padding: #{6 / $font-size-base}em #{10 / $font-size-base}em;
  background: $color-highlight;
  color: white;
  border-radius: 0 3px 0 3px;
  font-size: #{14 / $font-size-base}em;
  font-family: monospace;

  &:hover {
    color: white;
  }

  @include respond-to(medium) {
    display: none;
  }
}
