.header {
    padding: 6em $padding-left;
    font-family: $font-family-header;

    @media screen and (max-width: 600px) {
        padding: 3em ($padding-left / 2);
    }
}

.header__title {
    font-size: #{42 / $font-size-base}em;
    letter-spacing: -0.025em;
    margin-bottom: .25em;
    line-height: 1.2;

    em {
        color: $color-highlight;
    }
}

.header__subtitle {
    font-size: #{18 / $font-size-base}em;
    color: #888;

    dt {
        width: 25%;
        float: left;
        //color: $color-text;

        @media screen and (max-width: 600px) {
            width: auto;
            margin-right: .25em;
        }
    }

    dd {
        margin-left: 25%;

        @media screen and (max-width: 600px) {
            margin-left: 0;
        }
    }

    a {
        color: inherit;
        //text-decoration: underline;
        border-bottom: 1px solid;
    }
}

.header__developer {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    padding: #{6 / $font-size-base}em #{10 / $font-size-base}em;
    background: $color-highlight;
    color: white;
    border-radius: 0 3px 0 3px;
    font-size: #{14 / $font-size-base}em;
    font-family: monospace;

    &:hover {
        color: white;
    }

    @include respond-to(medium) {
        display: none;
    }
}
