//
//
//  Layout
//  ==============================
//

.wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: em(700);
  border-radius: 3px;
}


//
//  Main Content
//
.main {
  background: white;
  margin: 0 auto;
  position: relative;
  margin-top: em(60);
  padding-bottom: em(20);
  box-shadow: 0 0 60px rgba(0, 0, 0, 1);
  border-radius: 3px;

  @include respond-to(medium) {
    margin-top: 0;
    box-shadow: none;
  }
}

//
//  Footer
//
.footer {
  color: $color-text-light;
  margin: em($spacer * 2) auto em($spacer * 2);
  text-align: center;
  padding: 0 em($spacer);

  a {
    color: inherit;
    text-decoration: underline;
  }

  @include respond-to(medium) {
    margin: em($spacer) auto;
  }
}
