//
//
//  Sections
//  ==============================
//
.section {
    @include clearfix;
    position: relative;
    margin-bottom: px-to-em(45);
    overflow: hidden;

    //
    //  Condensed
    //  -----
    &.section--condensed {

        // Default height
        .section__content {
            max-height: px-to-em(400);
            overflow: hidden;
        }

        .section__trigger:after {
            display: block;
        }

        &#dribbble {
            .section__content {
                max-height: px-to-em(1250);
            }
        }
        &#published-articles {
            .section__content {
                max-height: px-to-em(1250);
            }
        }
        &#side-projects {
            .section__content {
                max-height: px-to-em(950);
            }
        }
        &#employment {
            .section__content {
                max-height: px-to-em(1500);
            }
        }
    }
}

//
//  Section Trigger
//  -----
.section__trigger {
    background: #fff;
    left: 0;
    margin-left: $padding-left + 5;
    padding: px-to-em(15) 0;

    @include respond-to(medium) {
        margin-left: ($padding-left / 2);
    }

    &:after {
        content: '';
        display: none;
        height: px-to-em(100);
        width: 100%;
        bottom: 3em;
        left: 0;
        position: absolute;
        background: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,1));
    }

    a {
        font-size: px-to-em(14);
        color: $color-link;

        &:after {
            content: ' \25BE';
            position: relative;
            left: px-to-em(1, 14);
            top: px-to-em(-1, 14);
        }
    }
}

//
//  Section Header
//  -----
.section__header {
    font-size: #{24 / $font-size-base}em;
    border-bottom: 1px solid $color-border-light;
    padding: px-to-em($spacing-constant, 24) 0 px-to-em($spacing-constant, 24) $padding-left;
    color: $color-highlight;

    @include respond-to(medium) {
        padding-left: ($padding-left / 2);
    }

    a {
        &:after {
            content: attr(href)" \203A";
            font-size: px-to-em(14, 24);
            color: #bbb;
            float: right;
            margin-right: $padding-left / 2;
            margin-top: px-to-em(10);
        }
        &:hover:after {
            color: $color-link;
            text-decoration: underline;
        }
    }
}

//
//  Section Content
//  -----
.section__content {
    position: relative;
    margin-left: $padding-left;

    @include respond-to(medium) {
        margin-left: ($padding-left / 2);
    }

    > li {
        padding: px-to-em($spacing-constant) 0;
        padding-right: px-to-em($spacing-constant);
        border-bottom: 1px solid $color-border-light;
        overflow: hidden;
    }
}

//
//
//  Content Item
//  ==============================
//


//
//  Item Image
//  -----
.item__img {
    display: block;
    width: 70px;
    height: 70px;
    float: left;

    #dribbble & {
        width: 200px;
        height: 150px;

        @include respond-to(medium) {
            width: 100%;
            height: auto;
        }
    }

    @include respond-to(medium) {
        margin-right: #{$spacing-constant}px;
        margin-bottom: #{$spacing-constant}px;
    }
}

.item__img--word-count {
    background: #333;
    text-align: center;
    line-height: 1;

    p {
        margin-top: px-to-em(20, 14);
        font-size: px-to-em(14);
        color: #777;
    }

    b {
        font-size: 1.28575em;
        color: white;
        display: block;
    }
}

//
//  Item Content
//  -----
.item__content {
    display: block;
    margin-left: 70px + $spacing-constant;
    margin-top: px-to-em(3);

    @include respond-to(medium) {
        margin-top: 0;
        margin-left: 0;
    }

    #dribbble & {
        margin-left: 200px + $spacing-constant;

        @include respond-to(medium) {
            margin-left: 0;
        }
    }
}

.projects {
    margin-top: px-to-em($spacing-constant);

    > li {
        @include clearfix();
        padding: px-to-em($spacing-constant) 0;
        border-top: 1px dotted $color-border-light;
    }

    .projects__img {
      float: left;
      margin: 3px 15px 6px 0;
      width: 100px;
      height: 75px;
      display: block;
    }
}

.links {
  font-size: px-to-em(14);
  margin: px-to-em(15) 0 0 px-to-em(15);
  list-style-type: disc;
  color: #777;

  a {
    color: $color-link;
  }
}

.projects__img,
.item__img {
  position: relative;

  img {
    border-radius: 2px;
  }

  &:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .075);
    border-radius: 2px;
  }
}

//
//
//  General Typography
//  ==============================
//
.title {
    font-size: px-to-em(18);
}

.byline {
    font-size: px-to-em(14);
    color: #bbb;
}

.description {
    font-size: px-to-em(14);
    color: #777;
}
