#side-projects {

    li {
        overflow: hidden;
        
        @media screen and (max-width: 600px) {
            margin-bottom: 2em;
        }
    }

    .bold {
        font-weight: 400;
    }

    div.col {
        margin-top: 1em;

        @media screen and (max-width: 900px) {
            margin-top: 0;
        }

        a:hover {
            color: $color-highlight;
        }
    }

    .meta {
        display: block;
        font-weight: normal;
    }

    a:hover .meta {
        color: $color-highlight;
    }

    p {
        color: $color-text-light;
        margin: .25em 0;
        font-size: #{$font-size-base / 18}em;
    }
}

.readers-fav {
    white-space: pre;
    background: $color-yellow;
    padding: 0 .325em;
    border-radius: 2px;
}
