.skills {
  margin-top: em($spacer * 2);
  background: #1E1E1E;
  color: $color-text-light;
  font-family: Menlo, monospace;
  font-size: em(14);
  padding: em(40, 14) 0 em(40, 14) em(40, 14);
  box-shadow: 0 0 60px rgba(0, 0, 0, .5);
  border-radius: 3px;

  @include respond-to(medium) {
    margin-top: 0;
    box-shadow: none;
    border-radius: 0;
  }

  strong {
    color: $color-highlight;
    font-weight: bold;
    display: block;
    margin-bottom: em($spacer);
  }

  ul {
    overflow: scroll;
    margin-right: em(20);

    li {
      white-space: nowrap;

      span {
        padding: em(1, 14) 0;

        &:nth-child(2) {
          margin: 0 4%;
        }
      }
    }
  }

  .divider {
    margin-top: em($spacer, 14);
  }
}
