.tweets {
    position: relative;
    margin: px-to-em($spacing-constant) 0;

    @include respond-to(medium) {
        clear: both;
    }
}

.tweet {
    position: relative;
    font-size: #{14 / $font-size-base}em;
    padding: .75em 0 0 .75em;
    border-left: 3px solid $color-border-light;

    &:first-child {
        padding-top: 0;
    }
}

.tweet-screen-name {
    color: #aaa;
    font-size: .875em;
}
.tweet-author-name {
    color: $color-twitter-blue;
}
.tweet-permalink {
    &:hover {
        text-decoration: none;

        .tweet-author-name {
            text-decoration: underline;
        }
    }
}
.tweet-html {
    white-space: pre-wrap;
    color: #777;
}