/* line 17, ../../../../../.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 29, ../../_scss/_mixins.scss */
.profile-pic {
  float: left;
  width: 250px;
}

/* 
 * Font Custom: bare CSS
 */
@font-face {
  font-family: "custom-font";
  src: url("../fonts/custom-font.eot");
  src: url("../fonts/custom-font.eot?#iefix") format("embedded-opentype"), url("../fonts/custom-font.woff") format("woff"), url("../fonts/custom-font.ttf") format("truetype"), url("../fonts/custom-font.svg#custom-font") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 21, ../../_scss/_fontcustom.scss */
.icon-blog:before,
.icon-dribbble:before,
.icon-frown:before,
.icon-hammer:before,
.icon-published-articles:before,
.icon-twitter:before {
  font-family: "custom-font";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  text-decoration: inherit;
}

/* line 33, ../../_scss/_fontcustom.scss */
.icon-blog:before {
  content: "\f100";
}

/* line 34, ../../_scss/_fontcustom.scss */
.icon-dribbble:before {
  content: "\f101";
}

/* line 35, ../../_scss/_fontcustom.scss */
.icon-frown:before {
  content: "\f102";
}

/* line 36, ../../_scss/_fontcustom.scss */
.icon-hammer:before {
  content: "\f103";
}

/* line 37, ../../_scss/_fontcustom.scss */
.icon-published-articles:before {
  content: "\f104";
}

/* line 38, ../../_scss/_fontcustom.scss */
.icon-twitter:before {
  content: "\f105";
}

/* line 3, ../../_scss/_general.scss */
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 9, ../../_scss/_general.scss */
body {
  font: 1em/1.3 "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: #222222;
  background: #292929;
}
@media only screen and (max-width: 37.5em) {
  /* line 9, ../../_scss/_general.scss */
  body {
    font-size: 0.875em;
    background: #e9e9e9;
  }
}

/* line 20, ../../_scss/_general.scss */
a {
  text-decoration: none;
  color: inherit;
}
/* line 25, ../../_scss/_general.scss */
a.link:hover {
  color: #0088cc;
  text-decoration: underline;
}
/* line 33, ../../_scss/_general.scss */
a:hover .link {
  color: #0088cc;
  text-decoration: underline;
}

/* line 40, ../../_scss/_general.scss */
img {
  max-width: 100%;
  height: auto;
}
/* line 44, ../../_scss/_general.scss */
img.loading {
  position: relative;
  top: .325em;
  margin-right: .325em;
}

/* line 52, ../../_scss/_general.scss */
.meta {
  font-size: 0.75em;
  color: #999;
  overflow: hidden;
}

/* line 58, ../../_scss/_general.scss */
.block {
  display: block;
}

/* line 62, ../../_scss/_general.scss */
.bold {
  font-weight: 700;
}

/* line 66, ../../_scss/_general.scss */
.highlight {
  color: #c02702;
}

/* line 3, ../../_scss/_mixins.scss */
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
/* line 8, ../../_scss/_mixins.scss */
.clearfix:after {
  clear: both;
}

/* line 7, ../../_scss/_layout.scss */
.wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 43.75em;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

/* line 18, ../../_scss/_layout.scss */
.main {
  background: white;
  margin: 0 auto;
  position: relative;
  margin-top: 3em;
  padding-bottom: 2em;
  -webkit-box-shadow: 0 0 130px black;
  -moz-box-shadow: 0 0 130px black;
  box-shadow: 0 0 130px black;
}
@media only screen and (max-width: 37.5em) {
  /* line 18, ../../_scss/_layout.scss */
  .main {
    margin-top: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
}

/* line 35, ../../_scss/_layout.scss */
.footer {
  color: #777;
  margin-bottom: 4em;
  padding-top: .5em;
  text-align: center;
  border-top: 1px solid #eeeeee;
}
/* line 42, ../../_scss/_layout.scss */
.footer a {
  color: #c02702;
}
/* line 45, ../../_scss/_layout.scss */
.footer a:hover {
  color: #e82f02;
}
@media only screen and (max-width: 37.5em) {
  /* line 35, ../../_scss/_layout.scss */
  .footer {
    padding-top: 3em;
  }
}

/* line 1, ../../_scss/_header.scss */
.header {
  padding: 6em 10%;
  font-family: "EB Garamond", serif;
}
@media screen and (max-width: 600px) {
  /* line 1, ../../_scss/_header.scss */
  .header {
    padding: 3em 5%;
  }
}

/* line 10, ../../_scss/_header.scss */
.header__title {
  font-size: 2.625em;
  letter-spacing: -0.025em;
  margin-bottom: .2em;
}
/* line 16, ../../_scss/_header.scss */
.header__title em {
  color: #c02702;
}

/* line 21, ../../_scss/_header.scss */
.header__subtitle {
  font-size: 1.3125em;
  font-weight: 300;
  color: #777;
}
/* line 27, ../../_scss/_header.scss */
.header__subtitle a {
  color: inherit;
  text-decoration: underline;
}

/* line 33, ../../_scss/_header.scss */
.header__developer {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.375em 0.625em;
  background: #c02702;
  color: white;
  -webkit-border-radius: 0 3px 0 3px;
  -moz-border-radius: 0 3px 0 3px;
  -ms-border-radius: 0 3px 0 3px;
  -o-border-radius: 0 3px 0 3px;
  border-radius: 0 3px 0 3px;
  font-size: 0.875em;
  font-family: monospace;
}
/* line 45, ../../_scss/_header.scss */
.header__developer:hover {
  color: white;
}
@media only screen and (max-width: 37.5em) {
  /* line 33, ../../_scss/_header.scss */
  .header__developer {
    display: none;
  }
}

/* line 6, ../../_scss/_section.scss */
.section {
  position: relative;
  margin-bottom: 2.8125em;
  overflow: hidden;
}
/* line 3, ../../_scss/_mixins.scss */
.section:before, .section:after {
  content: " ";
  display: table;
}
/* line 8, ../../_scss/_mixins.scss */
.section:after {
  clear: both;
}
/* line 18, ../../_scss/_section.scss */
.section.section--condensed .section__content {
  max-height: 18.75em;
  overflow: hidden;
}
/* line 23, ../../_scss/_section.scss */
.section.section--condensed .section__trigger:after {
  display: block;
}
/* line 28, ../../_scss/_section.scss */
.section.section--condensed#dribbble .section__content {
  max-height: 53.125em;
}
/* line 33, ../../_scss/_section.scss */
.section.section--condensed#published-articles .section__content {
  max-height: 78.125em;
}
/* line 38, ../../_scss/_section.scss */
.section.section--condensed#recent-projects .section__content {
  max-height: 59.375em;
}

/* line 48, ../../_scss/_section.scss */
.section__trigger {
  background: #fff;
  left: 0;
  margin-left: 15%;
  padding: 0.9375em 0;
}
@media only screen and (max-width: 37.5em) {
  /* line 48, ../../_scss/_section.scss */
  .section__trigger {
    margin-left: 5%;
  }
}
/* line 58, ../../_scss/_section.scss */
.section__trigger:after {
  content: '';
  display: none;
  height: 6.25em;
  width: 100%;
  bottom: 3em;
  left: 0;
  position: absolute;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, #ffffff));
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0), #ffffff);
  background-image: -moz-linear-gradient(rgba(255, 255, 255, 0), #ffffff);
  background-image: -o-linear-gradient(rgba(255, 255, 255, 0), #ffffff);
  background-image: linear-gradient(rgba(255, 255, 255, 0), #ffffff);
}
/* line 69, ../../_scss/_section.scss */
.section__trigger a {
  font-size: 0.875em;
  color: #0088cc;
}
/* line 73, ../../_scss/_section.scss */
.section__trigger a:after {
  content: ' \25BE';
  position: relative;
  left: 0.07143em;
  top: -0.07143em;
}

/* line 85, ../../_scss/_section.scss */
.section__header {
  font-size: 1.5em;
  border-bottom: 1px solid #eeeeee;
  padding: 0.83333em 0 0.83333em 10%;
  color: #c02702;
}
@media only screen and (max-width: 37.5em) {
  /* line 85, ../../_scss/_section.scss */
  .section__header {
    padding-left: 5%;
  }
}
/* line 96, ../../_scss/_section.scss */
.section__header a:after {
  content: attr(href) " \25B8";
  font-size: 0.58333em;
  color: #bbb;
  float: right;
  margin-right: 5%;
  margin-top: 0.625em;
}
/* line 104, ../../_scss/_section.scss */
.section__header a:hover:after {
  color: #0088cc;
  text-decoration: underline;
}

/* line 114, ../../_scss/_section.scss */
.section__content {
  position: relative;
  margin-left: 15%;
}
@media only screen and (max-width: 37.5em) {
  /* line 114, ../../_scss/_section.scss */
  .section__content {
    margin-left: 5%;
  }
}
/* line 122, ../../_scss/_section.scss */
.section__content > li {
  padding: 1.25em 0;
  padding-right: 1.25em;
  border-bottom: 1px solid #eeeeee;
  overflow: hidden;
}

/* line 131, ../../_scss/_section.scss */
#recent-projects .title .link + .link {
  color: #0088cc;
}

/* line 146, ../../_scss/_section.scss */
.item__img {
  display: block;
  width: 70px;
  height: 70px;
  float: left;
}
/* line 152, ../../_scss/_section.scss */
#dribbble .item__img {
  width: 200px;
  height: 150px;
}
@media only screen and (max-width: 37.5em) {
  /* line 152, ../../_scss/_section.scss */
  #dribbble .item__img {
    width: 100%;
    height: auto;
  }
}
@media only screen and (max-width: 37.5em) {
  /* line 146, ../../_scss/_section.scss */
  .item__img {
    margin-right: 20px;
    margin-bottom: 20px;
  }
}

/* line 168, ../../_scss/_section.scss */
.item__img--word-count {
  background: #333;
  text-align: center;
  line-height: 1;
}
/* line 173, ../../_scss/_section.scss */
.item__img--word-count p {
  margin-top: 1.42857em;
  font-size: 0.875em;
  color: #777;
}
/* line 179, ../../_scss/_section.scss */
.item__img--word-count b {
  font-size: 1.28575em;
  color: white;
  display: block;
}

/* line 189, ../../_scss/_section.scss */
.item__content {
  display: block;
  margin-left: 90px;
  margin-top: 0.1875em;
}
@media only screen and (max-width: 37.5em) {
  /* line 189, ../../_scss/_section.scss */
  .item__content {
    margin-top: 0;
    margin-left: 0;
  }
}
/* line 199, ../../_scss/_section.scss */
#dribbble .item__content {
  margin-left: 220px;
}
@media only screen and (max-width: 37.5em) {
  /* line 199, ../../_scss/_section.scss */
  #dribbble .item__content {
    margin-left: 0;
  }
}

/* line 213, ../../_scss/_section.scss */
.title {
  font-size: 1.125em;
}

/* line 217, ../../_scss/_section.scss */
.byline {
  font-size: 0.875em;
  color: #bbb;
}

/* line 222, ../../_scss/_section.scss */
.description {
  font-size: 0.875em;
  color: #777;
}

/* line 1, ../../_scss/_tweets.scss */
.tweets {
  position: relative;
  margin: 1.25em 0;
}
@media only screen and (max-width: 37.5em) {
  /* line 1, ../../_scss/_tweets.scss */
  .tweets {
    clear: both;
  }
}

/* line 10, ../../_scss/_tweets.scss */
.tweet {
  position: relative;
  font-size: 0.875em;
  padding: .75em 0 0 .75em;
  border-left: 3px solid #eeeeee;
}
/* line 16, ../../_scss/_tweets.scss */
.tweet:first-child {
  padding-top: 0;
}

/* line 21, ../../_scss/_tweets.scss */
.tweet-screen-name {
  color: #aaa;
  font-size: .875em;
}

/* line 25, ../../_scss/_tweets.scss */
.tweet-author-name {
  color: #0088cc;
}

/* line 29, ../../_scss/_tweets.scss */
.tweet-permalink:hover {
  text-decoration: none;
}
/* line 32, ../../_scss/_tweets.scss */
.tweet-permalink:hover .tweet-author-name {
  text-decoration: underline;
}

/* line 37, ../../_scss/_tweets.scss */
.tweet-html {
  white-space: pre-wrap;
  color: #777;
}

/* line 3, ../../_scss/_side-projects.scss */
#side-projects li {
  overflow: hidden;
}
@media screen and (max-width: 600px) {
  /* line 3, ../../_scss/_side-projects.scss */
  #side-projects li {
    margin-bottom: 2em;
  }
}
/* line 11, ../../_scss/_side-projects.scss */
#side-projects .bold {
  font-weight: 400;
}
/* line 15, ../../_scss/_side-projects.scss */
#side-projects div.col {
  margin-top: 1em;
}
@media screen and (max-width: 900px) {
  /* line 15, ../../_scss/_side-projects.scss */
  #side-projects div.col {
    margin-top: 0;
  }
}
/* line 22, ../../_scss/_side-projects.scss */
#side-projects div.col a:hover {
  color: #c02702;
}
/* line 27, ../../_scss/_side-projects.scss */
#side-projects .meta {
  display: block;
  font-weight: normal;
}
/* line 32, ../../_scss/_side-projects.scss */
#side-projects a:hover .meta {
  color: #c02702;
}
/* line 36, ../../_scss/_side-projects.scss */
#side-projects p {
  color: #777777;
  margin: .25em 0;
  font-size: 0.88889em;
}

/* line 43, ../../_scss/_side-projects.scss */
.readers-fav {
  white-space: pre;
  background: #fffddf;
  padding: 0 .325em;
  border-radius: 2px;
}

/* line 1, ../../_scss/_recent-projects.scss */
.thumbnail {
  float: right;
  width: 100px;
  margin-left: 2em;
  margin-top: -1em;
}
/* line 7, ../../_scss/_recent-projects.scss */
.thumbnail img {
  border-radius: 2px;
}

/* line 1, ../../_scss/_published-articles.scss */
.publisher {
  color: #c02702;
}
