*, 
*:before, 
*:after {
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box;
}

body {
    font: 1em/1.25 #{$font-family-base};
    color: $color-text;

    @include respond-to(large) {
        background: $color-background;
    }
}

a {
    text-decoration: none;
    color: inherit;

    // <a.link>Text
    &.link:hover {
        color: $color-highlight;
        text-decoration: underline; 
    }
    // <a>
    //  <span.link>Text to look like link
    //  <span>Some other text
    &:hover {
        .link {
            color: $color-highlight;
            text-decoration: underline;   
        }
    }
}

img {
    max-width: 100%;
    height: auto;

    &.loading {
        position: relative;
        top: .325em;
        margin-right: .325em;
    }
}


.meta {
    font-size: #{12 / $font-size-base}em;
    color: #999;
    overflow: hidden;
}

.block {
    display: block;
}

.bold {
    font-weight: 700;
}

.highlight {
    color: $color-highlight;
}
.clearfix {
    @include clearfix;
}