.section {
    
    @include clearfix;
    font-weight: 300;
    position: relative;
    font-size: #{18 / $font-size-base}em;

    @include respond-to(large) {
        border-top: 1px solid #ccc;
    }
}

.section__header {
    font-weight: 500;
    border-top: 2px solid #333;
    border-bottom: 2px solid #333;
    padding: 1em 0;

    @include respond-to(large) {
        padding-top: .75em; 
        border-top: 1px solid #000;
        border-bottom: 0;
        position: relative; 
        top: -1px;
    }

    &.icon:before {
        font-size: 1.325em;
        margin-right: .25em;
        position: relative;
        top: .15em;
    }
}

.section__content {
    position: relative;

    > li {
        padding: 1em 0;
        border-top: 1px solid $color-border-light;
        overflow: hidden;

        &:first-child {
            border: 0;
        }
    }

    #scriptogram &,
    #published-articles &,
    #recent-projects & {
        > li {
            &:before {
                //content: '\00BB'; //00B7 middot
                position: absolute;
                left: -3%; 

                @media screen and (max-width: 600px) {
                    left: -5%;
                }               
            }
        }
    }

    // Dribble List
    #dribbble & {
        min-height: 200px;

        li {
            border-top: 0;
            
            &:nth-child(odd) {
                width: 48%;
                float: left;
            }
            &:nth-child(even) {
                width: 48%;
                float: right;
            }

            @media screen and (max-width: 650px) {
                float: none !important;
                width: 100% !important;
            }
        }
    }
}

.meta {
    #published-articles & {
        li {
            float: left;
            margin-right: .825em;

            &:after {
                content: '\00B7';
                margin-left: .825em;
                color: #ccc;
            }

            &:last-child {
                margin-right: 0;
                
                &:after {
                    content: '';
                    margin-left: 0;
                }
            }
        }
    }
}