//
//
//  Sections
//  ==============================
//
.section {
    @include clearfix;
    position: relative;
    margin-bottom: px-to-em(45);
    overflow: hidden;

    //
    //  Condensed
    //  -----
    &.section--condensed {

        .section__content {
            max-height: px-to-em(400);
            overflow: hidden;
        }

        .section__trigger:after {
            display: block;
        }
    }
}

//
//  Section Trigger
//  -----
.section__trigger {
    background: #fff;
    left: 0;
    margin-left: $padding-left + 5;
    padding: px-to-em(15) 0;

    &:after {
        content: '';
        display: none;
        height: px-to-em(100);
        width: 100%;
        bottom: 3em;
        left: 0;
        position: absolute;
        @include background-image(linear-gradient(rgba(255,255,255,0), rgba(255,255,255,1)));
    }

    a {
        font-size: px-to-em(14);
        color: $color-link;

        &:after {
            content: ' \25BE';
            position: relative;
            left: px-to-em(1, 14);
            top: px-to-em(-1, 14);
        }
    }
}

//
//  Section Header
//  -----
.section__header {
    font-size: #{24 / $font-size-base}em;
    border-bottom: 1px solid $color-border-light;
    padding: px-to-em($spacing-constant, 24) 0 px-to-em($spacing-constant, 24) $padding-left;
    color: $color-highlight;

    @include respond-to(medium) {
        padding-left: ($padding-left / 2);
    }
}

//
//  Section Content
//  -----
.section__content {
    position: relative;
    margin-left: $padding-left + 5;

    @include respond-to(medium) {
        margin-left: ($padding-left / 2);
    }

    > li {
        padding: px-to-em($spacing-constant) 0;
        padding-right: px-to-em($spacing-constant);
        border-bottom: 1px solid $color-border-light;
        overflow: hidden;
    }
}

//
//
//  Content Item
//  ==============================
//


//
//  Item Image
//  -----
.item__img {
    display: block;
    width: 70px;
    height: 70px;
    float: left;

    #dribbble & {
        width: 200px;
        height: 150px;

        @include respond-to(medium) {
            width: 100%;
            height: auto;
        }
    }
}

.item__img--word-count {
    background: #333;
    text-align: center;
    line-height: 1;
    
    p {
        margin-top: px-to-em(20, 14);
        font-size: px-to-em(14);
        color: #777;
    }

    b {
        font-size: 1.28575em;
        color: white;
        display: block;
    }
}

//
//  Item Content
//  -----
.item__content {
    display: block;
    margin-left: 70px + $spacing-constant;
    margin-top: px-to-em(3);

    @include respond-to(medium) {
        margin-top: 0;
    }

    #dribbble & {
        margin-left: 200px + $spacing-constant;

        @include respond-to(medium) {
            margin-left: 0;
        }
    }
}

//
//
//  General Typography
//  ==============================
//
.title {
    font-size: px-to-em(18);
}

.byline {
    font-size: px-to-em(14);
    color: #bbb;
}

.description {
    font-size: px-to-em(14);
    color: #777;
}