.tweets {
    clear: both;
    position: relative;
    padding-left: 2em;
    margin-top: .5em;
}

.icon-twitter:before {
    color: $color-twitter-blue;
    position: absolute;
    left: .25em;
    top: .375em;
}

.tweet {
    position: relative;
    font-size: #{13 / $font-size-base}em;
    padding: .5em 0 .75em .75em;
    border-left: 1px double $color-twitter-blue;    

    &:first-child:before {
        position: absolute;
        content: '';
        border-top: 1px solid $color-twitter-blue;
        height: 1px;
        width: .5em;
        top: 0;
        left: 0;
    }

    &:after {
        position: absolute;
        content: '';
        border-bottom: 1px solid $color-twitter-blue;
        height: 1px;
        width: .5em;
        bottom: 0;
        left: 0;
    }
}

.tweet-screen-name {
    color: #aaa;
    font-size: .875em;
}
.tweet-author-name {
    color: $color-twitter-blue;
}
.tweet-permalink {
    &:hover {
        text-decoration: none;

        .tweet-author-name {
            text-decoration: underline;
        }
    }
}
.tweet-html {
    white-space: pre-wrap;
    color: #777;
}