.tweets {
    clear: both;
    position: relative;
    padding-left: 1.5em;
    margin-top: .5em;
}

.tweet {
    position: relative;
    font-size: #{13 / $font-size-base}em;
    padding: .5em 0 .75em .75em;
    border-left: 3px solid $color-border-light;    
}

.tweet-screen-name {
    color: #aaa;
    font-size: .875em;
}
.tweet-author-name {
    color: $color-twitter-blue;
}
.tweet-permalink {
    &:hover {
        text-decoration: none;

        .tweet-author-name {
            text-decoration: underline;
        }
    }
}
.tweet-html {
    white-space: pre-wrap;
    color: #777;
}