/* =============================================================================
 Consider elevating to shared space
 ===========================================================================*/

:target {
  color: var(--c-red);
}

.copy > * {
  max-width: 30rem; /* 900px */
  margin-left: auto;
  margin-right: auto;
  /* margin-bottom: 1.618rem; */
}
.copy-full-width {
  max-width: none;
}

.list-reset {
  padding-left: 0;
  list-style-type: none;
}

.placeholder {
  height: 400px;
  background: #ddd;
  width: 100%;
  max-width: none;
  margin: 0;
}

/* =============================================================================
   site-specific
   ===========================================================================*/

:root {
  --c-bg: #121212;
  --c-fg: #fff;
  --c-text: #222;
  --c-button: #eee;
  --c-interactive: #007aff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --c-fg: #222;
    --c-text: #eee;
    --c-button: #333;
    --c-interactive: #0a84ff;
  }
}

html {
  scroll-behavior: smooth;
  background: var(--c-bg);
  color: var(--c-text);
}

section {
  margin-bottom: 200px;
}

body {
  margin: 0 auto;
  width: 100%;
  max-width: 800px;
  background: var(--c-fg);
}

@media screen and (max-width: 600px) {
  body > section {
    padding: 0 calc(1.618rem / 2);
  }
  body > section .placeholder {
    margin-left: -1.618rem;
    width: calc(100% + calc(1.618rem * 2));
  }
}

@media screen and (min-width: 600px) {
  body {
    margin: 80px auto calc(1.618rem * 2);
    width: 85%;
    box-shadow: 0 0 0 12px var(--c-fg);
  }
}

body:before {
  content: "";
  width: 100%;
  height: calc(500px + 80px); /* image + top body padding */
  background: #000;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

button.link {
  border: none;
  background: transparent;
  margin: 0;
  padding: 0;
  color: var(--c-blue);
  text-decoration: underline;
  cursor: pointer;

  font-size: 0.9rem;
  padding: calc(1.618rem / 9) calc(1.618rem / 4);
  text-decoration: none;
  border-radius: 7px;
  background: var(--c-button);
}

/* Navigation
   ===========================================================================*/
nav {
  display: flex;
  margin-bottom: 1.618rem;
  padding: calc(1.618rem / 4) 0;
  font-size: 0.75rem; /* 18 */
  /* font-weight: 500; */
  /* position: sticky;
  top: 0;
  background: #f5f5f5; */
}
/*
nav:before {
  content: "↓";
  margin-right: 0.5rem;
}*/
nav > * {
  text-decoration: none;
  /* color: #ff2603 !important; */

  margin-right: calc(1.618rem / 2);
}

/* Headings
   ===========================================================================*/

svg,
img[src*="drawing-"] {
  margin: calc(1.618rem * 2) 0;
  /* float: right;
  margin-left: 2rem; */
}

/*
  Anchor links
  =========================================================================== */
/* h1 {
  position: relative;
  margin-left: -1em;
  padding-left: 1em;
}*/
h1 {
  position: relative;
  /* display: flex;
  align-items: center; */
}
h1 a[href^="#"] {
  visibility: hidden;
  opacity: 0;
  font-size: 0.5em;
  text-decoration: none !important;
  margin-left: calc(1.618rem / 2);
  /* position: absolute;
  left: 0;
  top: 0.625em; */
}
h1:hover a[href^="#"] {
  visibility: visible;
  opacity: 1;
}

/* 
  Posts Lists - @TODO consider changing to something representing that it's 
  a flat key/val list
  =========================================================================== */

.posts-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.posts-list li {
  margin-bottom: calc(1.618rem / 2);
}

.posts-list time {
  display: block;
  font-variant-numeric: tabular-nums;
  font-size: 0.7rem;
  opacity: 0.5; /* @TODO change to gray */
  margin-right: calc(1.618rem / 2);
  white-space: nowrap;
}

.small {
  font-size: 0.7rem;
  opacity: 0.5; /* @TODO change to gray */
  white-space: nowrap;
  margin-left: 0.7em;
}

.posts-list a[data-domain]:before {
  content: attr(data-domain);
  display: block;
  font-size: 0.6em;
  text-decoration: none;
  position: relative;
  font-weight: 300;
}

.posts-list a {
  text-decoration: none;
}
.posts-list a:hover {
  text-decoration: underline;
}

@media screen and (min-width: 520px) {
  .posts-list li {
    margin-bottom: calc(1.618rem / 4);
    display: flex;
    align-items: baseline;
  }
  .posts-list li a {
    order: 2;
  }
  .posts-list time {
    order: 1;
  }
}

/*
  Icons
  =========================================================================== */

#icons {
  margin: 2rem 0 0 0;
  padding: 0;
  list-style-type: none;
  max-width: none;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-gap: 24px;
}
#icons li {
  display: flex;
  align-items: center;
  justify-content: center;
}
[data-icon-type="ios"] img {
  border-radius: 22.5%;
}
[data-icon-type="watchos"] img {
  border-radius: 50%;
}
[data-icon-type="ios"] img,
[data-icon-type="watchos"] img {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
}

/*
  Instagram
  =========================================================================== */
#instagram {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  max-width: 1200px;
  grid-gap: 8px;
  /*display: flex;
flex-wrap: wrap;
max-width: 1800px;*/
}
#instagram a:hover {
  filter: none;
}
#instagram img {
  display: block;
  border-radius: 8px;
}
#instagram img:hover {
  box-shadow: 0 0 0 2px var(--c-bg), 0 0 0 5px rgba(var(--c-blue-rgb), 1);
}

/*
  Dribbble
  =========================================================================== */
#dribbble-shots {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  max-width: 1200px;
  grid-gap: 8px;
  /*display: flex;
flex-wrap: wrap;
max-width: 1800px;*/
}
#dribbble-shots a:hover {
  filter: none;
}
#dribbble-shots img {
  display: block;
  transition: 0.2s ease all;
  box-shadow: 0 0px 0 1px rgba(0, 0, 0, 0.075);
  border-radius: 8px;
}
#dribbble-shots img:hover {
  /* transform: scale(1.025); */
  /* transform: translateY(-2px); */

  box-shadow: 0 0px 0 1px rgba(0, 0, 0, 0.075), 0 0 0 2px var(--c-bg),
    0 0 0 5px rgba(var(--c-blue-rgb), 1);
}

section > p:last-child > a {
  font-size: 1.125rem;
  font-weight: 500;
  margin-bottom: 1.618rem;
  text-decoration: none;
  background: hsla(var(--c-primary-hsl), 7%);
  padding: calc(1.618rem / 4) calc(1.618rem / 2) calc(1.618rem / 3);
  border-radius: var(--border-radius);
}
section > p:last-child a:after {
  content: " →";
}

em {
  background-color: lightyellow;
  font-style: normal;
}

#intro em {
  background-color: transparent;
  font-style: italic;
}

[data-status]:before {
  content: attr(data-status);
  font-size: 0.725rem;
  font-weight: normal;
  /* position: absolute;
  left: -5.5rem;
  top: 1rem; */

  padding: 4px 12px;
  border-radius: 30px;
  color: white;
  text-transform: uppercase;
}

[data-status="active"]:before {
  background: green;
}
[data-status="archived"]:before {
  background: #999;
}
