<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='utf-8'>
  <title>{{ page.title }}</title>
  <meta name='description' content='{{ site.description }}'>
  <meta name='author' content='Jim Nielsen'>
  <link rel='shortcut icon' href='favicon.ico'>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <link rel='stylesheet' href='{{ site.baseurl }}/assets/css/style.css'>
  <!--[if lt IE 9]>
    <script src='http://html5shim.googlecode.com/svn/trunk/html5.js'></script>
  <![endif]-->
</head>
<body>
  <section class='wrapper'>
  <main class='main'>
    {{ content }}
  </main>

  <div class='skills'>
    <strong>
      [ ~ ] ls -skills
    </strong>
    <ul>
      {% for skill in site.data.skills %}
      <li class='{% if skill.divider %}divider{% endif %}'>
        <span>-{{ skill.capability }}</span>
        <span>jim-nielsen</span>
        <span>{{ skill.name }}</span>
      </li>
      {% endfor %}
    </ul>
  </div>
  </section>

  <footer class='wrapper footer'>
    <p>
      Want to contact me? Email <a href='mailto:jimniels@gmail.com'>jimniels at gmail</a> or tweet <a href='http://twitter.com/jimniels'>@jimniels</a>
    </p>
  </footer>

  <!-- Tracking Code -->
  {% include analytics.html %}

  <script src='assets/js/smoothscroll.js'></script>
  <script>
    smoothScroll.init();
  </script>
</body>
</html>
