/* =============================================================================
 Consider elevating to shared space
 ===========================================================================*/

/* :target {
  color: var(--c-red);
} */

.copy > * {
  max-width: 33rem; /* 900px */
  /* margin-bottom: 1.618rem; */
}
.copy-full-width {
  max-width: none;
}

.list-reset {
  padding-left: 0;
  list-style-type: none;
}

/* =============================================================================
   site-specific
   ===========================================================================*/

html {
  scroll-behavior: smooth;
}

section {
  margin-bottom: 200px;
}
.wrapper {
  margin: 0 auto;
  width: 92%;
}
@media screen and (min-width: 600px) {
  .wrapper {
    margin: 1.618rem auto calc(1.618rem * 2);
    width: 85%;
  }
}

button.link {
  border: none;
  background: transparent;
  margin: 0;
  padding: 0;
  color: var(--c-blue);
  text-decoration: underline;
  cursor: pointer;
}

/* Navigation
   ===========================================================================*/
nav {
  display: flex;
  margin-bottom: 1.618rem;
  padding: calc(1.618rem / 4) 0;
  font-size: 0.75rem; /* 18 */
  /* font-weight: 500; */
  /* position: sticky;
  top: 0;
  background: #f5f5f5; */
}
/*
nav:before {
  content: "↓";
  margin-right: 0.5rem;
}*/
nav > * {
  text-decoration: none;
  /* color: #ff2603 !important; */

  margin-right: calc(1.618rem / 2);
}

/* Headings
   ===========================================================================*/
h1 {
  max-width: 45rem !important;
}
h2 {
  max-width: 41rem !important;
}

svg,
img[src*="drawing-"] {
  margin: calc(1.618rem * 2) 0;
  /* float: right;
  margin-left: 2rem; */
}

/*
  Anchor links
  =========================================================================== */
h1 {
  position: relative;
  margin-left: -1em;
  padding-left: 1em;
}

h1 a[href^="#"],
h2 a[href^="#"] {
  visibility: hidden;
  opacity: 0;
  font-size: 0.5em;
  text-decoration: none !important;
  position: absolute;
  left: 0;
  top: 0.625em;
}

h1:hover a[href^="#"],
h2:hover a[href^="#"] {
  visibility: visible;
  opacity: 1;
}

/* 
  Posts Lists - @TODO consider changing to something representing that it's 
  a flat key/val list
  =========================================================================== */

.posts-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.posts-list li {
  margin-bottom: calc(1.618rem / 2);
}

.posts-list time {
  display: block;
  font-variant-numeric: tabular-nums;
  font-size: 0.7rem;
  opacity: 0.5; /* @TODO change to gray */
  margin-right: calc(1.618rem / 2);
  white-space: nowrap;
}

.small {
  font-size: 0.7rem;
  opacity: 0.5; /* @TODO change to gray */
  white-space: nowrap;
  margin-left: 0.7em;
}

.posts-list a[data-domain]:before {
  content: attr(data-domain);
  display: block;
  font-size: 0.6em;
  text-decoration: none;
  position: relative;
  font-weight: 300;
}

.posts-list a {
  text-decoration: none;
}
.posts-list a:hover {
  text-decoration: underline;
}

@media screen and (min-width: 520px) {
  .posts-list li {
    margin-bottom: calc(1.618rem / 4);
    display: flex;
    align-items: baseline;
  }
  .posts-list li a {
    order: 2;
  }
  .posts-list time {
    order: 1;
  }
}

/*
  Icons
  =========================================================================== */

#icons {
  margin: 2rem 0 0 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  max-width: 1280px;
}
#icons li {
  margin-right: 1.618rem;
  margin-bottom: 1.618rem;
}
[data-icon-type="ios"] img {
  border-radius: 22.5%;
}
[data-icon-type="watchos"] img {
  border-radius: 50%;
}
[data-icon-type="ios"] img,
[data-icon-type="watchos"] img {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
}

/*
  Instagram
  =========================================================================== */
#instagram {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  max-width: 1200px;
  grid-gap: 8px;
  /*display: flex;
flex-wrap: wrap;
max-width: 1800px;*/
}
#instagram a:hover {
  filter: none;
}
#instagram img {
  display: block;
  border-radius: 8px;
}
#instagram img:hover {
  box-shadow: 0 0 0 2px var(--c-bg), 0 0 0 5px rgba(var(--c-blue-rgb), 1);
}

/*
  Dribbble
  =========================================================================== */
#dribbble-shots {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  max-width: 1200px;
  grid-gap: 8px;
  /*display: flex;
flex-wrap: wrap;
max-width: 1800px;*/
}
#dribbble-shots a:hover {
  filter: none;
}
#dribbble-shots img {
  display: block;
  transition: 0.2s ease all;
  box-shadow: 0 0px 0 1px rgba(0, 0, 0, 0.075);
  border-radius: 8px;
}
#dribbble-shots img:hover {
  /* transform: scale(1.025); */
  /* transform: translateY(-2px); */

  box-shadow: 0 0px 0 1px rgba(0, 0, 0, 0.075), 0 0 0 2px var(--c-bg),
    0 0 0 5px rgba(var(--c-blue-rgb), 1);
}
