/* =============================================================================
 Consider elevating to shared space
 ===========================================================================*/

:target {
  color: var(--c-red);
}

.copy > * {
  max-width: 37rem; /* 900px */
  /* margin-bottom: 1.618rem; */
}
.copy-full-width {
  max-width: none;
}

.list-reset {
  padding-left: 0;
  list-style-type: none;
}

/* =============================================================================
   site-specific
   ===========================================================================*/
section {
  margin-bottom: 200px;
}
.wrapper {
  margin: 0 auto;
  width: 92%;
}
@media screen and (min-width: 600px) {
  .wrapper {
    margin: 1.618rem auto calc(1.618rem * 2);
    width: 85%;
  }
}

nav {
  display: flex;
  align-items: center;
  margin-bottom: 1.618rem;
}
nav img {
  margin-right: calc(1.618rem / 2);
}
nav a {
  text-decoration: none;
  color: #ff2603 !important;
  font-size: 0.75rem; /* 18 */
  font-weight: 500;
}
h1 {
  position: relative;
}
.anchor {
  display: none;
  text-decoration: none;
  position: absolute;
  left: -1.5em;
  font-size: 0.5em;
  top: 0.625em;
}
h1:hover .anchor {
  display: inline;
}

/* 
  Posts Lists - @TODO consider changing to something representing that it's 
  a flat key/val list
  =========================================================================== */

.posts-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.posts-list li {
  margin-bottom: calc(1.618rem / 2);
}

.posts-list time {
  display: block;
  font-variant-numeric: tabular-nums;
  font-size: 0.7rem;
  opacity: 0.5; /* @TODO change to gray */
  margin-right: calc(1.618rem / 2);
  white-space: nowrap;
}

.small {
  font-size: 0.7rem;
  opacity: 0.5; /* @TODO change to gray */
  white-space: nowrap;
}

.posts-list a[data-domain]:before {
  content: attr(data-domain);
  display: block;
  font-size: 0.6em;
  text-decoration: none;
  position: relative;
  font-weight: 300;
}

.posts-list a {
  text-decoration: none;
}
.posts-list a:hover {
  text-decoration: underline;
}

@media screen and (min-width: 520px) {
  .posts-list li {
    margin-bottom: calc(1.618rem / 4);
    display: flex;
    align-items: baseline;
  }
  .posts-list li a {
    order: 2;
  }
  .posts-list time {
    order: 1;
  }
}
