html {
  --color-black: #222222;
  --color-black-hsl: 0, 0%, 13%;
  --color-white: #f0f0f0;
  --color-white-hsl: 0, 0%, 95%;
  --font-size-base: 20;
  background: var(--color-white);
  font-size: calc(var(--font-size-base) * 1px);
  line-height: 1.618;
  color-scheme: light dark;
}
@media (prefers-color-scheme: dark) {
  html {
    --color-white: #222222;
    --color-white-hsl: 0, 0%, 13%;
    --color-black: #f2f2f2;
    --color-black-hsl: 0, 0%, 95%;
  }
}
body {
  font-family: ui-serif, Georgia, sans-serif;
}
body > section {
  margin-bottom: calc(1.618rem * 4);
}
section {
  position: relative;
  padding-bottom: calc(1.618rem * 4);
}
section {
  max-width: 21rem;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
section > img {
  max-width: 100%;
}
@media screen and (max-width: 28rem) {
  section > * {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

a {
  color: inherit;
}
h1,
h2 {
  line-height: 1.2;
  font-weight: 600;
}
h1 {
  /* font-size: 1.618rem; */
  line-height: 1.2;
}
h2 {
  /* font-size: 1rem; */
  line-height: 1.2;
}

.employment-list dt {
  float: left;
  margin-right: 0.25em;
  font-weight: 700;
}

.quote-list {
  list-style-type: none;
  padding-left: 1.1rem;
}
.quote-list li {
  border-left: 1px solid;
  margin-left: 0;
  padding-left: 1rem;
  margin-bottom: 1rem;
}

.quote-list li.show-more {
  border-left-color: transparent;
}
button {
  background: transparent;
  border: none;
  border-radius: 8px;
  background: rgba(0, 0, 0, 0.1);
  font-size: 0.9rem;
  padding: 0.125rem 0.325rem 0;
}

#dribbble-shots {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  max-width: 800px;
  grid-gap: 8px;
}
#dribbble-shots a:hover {
  filter: none;
}
#dribbble-shots img {
  display: block;
  width: 200px;
  height: 150px;
}
#instagram {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  max-width: 900px;
  grid-gap: 8px;
  justify-content: center;
  overflow: scroll;
  /*display: flex;
      flex-wrap: wrap;
      max-width: 1800px;*/
}
#instagram a:hover {
  filter: none;
}
#instagram img {
  display: block;
  width: 225px;
  height: 225px;
}

#icons {
  max-width: 900px;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-gap: 24px;
  justify-content: center;
  overflow: scroll;
}
#icons li {
  display: flex;
  align-items: center;
  justify-content: center;
}
[data-icon-type="ios"] img {
  border-radius: 22.5%;
}
[data-icon-type="watchos"] img {
  border-radius: 50%;
}
[data-icon-type="ios"] img,
[data-icon-type="watchos"] img {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
}

time {
  font-size: 0.8rem;
  white-space: nowrap;
  font-weight: 400;
  opacity: 0.4;
}

#intro:before {
  content: "";
  width: 380px;
  height: 293px;
  background: url(/assets/img/drawing-signature.svg);
  display: block;
  background-size: cover;
  margin: 1.618rem auto;
}
/*
      #writing:before {
        content: "";
        width: 220px;
        height: 207px;
        background: url(/assets/img/drawing-writing-icon.svg);
        display: block;
        background-size: cover;
        margin: 3.618rem auto;
      }
      

      #icon-galleries:before {
        content: "";
        width: 380px;
        height: 387px;
        background: url(/assets/img/drawing-icon-galleries-big.svg);
        display: block;
        background-size: cover;
        margin: 1.618rem auto;
      }

      #pies:before {
        content: "";
        width: 332px;
        height: 367px;
        background: url(/assets/img/drawing-pie.svg);
        display: block;
        background-size: contain;
        margin: 1.618rem auto;
      }*/
