html {
  --color-black: #222222;
  --color-black-hsl: 0, 0%, 13%;
  --color-white: #f0f0f0;
  --color-white-hsl: 0, 0%, 95%;
  --font-size-base: 20;
  --spacer-8: 0.5rem;
  --spacer-12: 0.75rem;
  --spacer-16: 1rem;
  --spacer-24: 1.5rem;
  --spacer-32: 2rem;
  --spacer-48: 3rem;
  --spacer-64: 4rem;
  -webkit-font-smoothing: antialiased;
  background: var(--color-white);
  font-size: 1.25rem;
  line-height: 1.5;
  color-scheme: light dark;
}
@media (prefers-color-scheme: dark) {
  html {
    --color-white: #222222;
    --color-white-hsl: 0, 0%, 13%;
    --color-black: #f2f2f2;
    --color-black-hsl: 0, 0%, 95%;
  }
}

body {
  font-family: ui-serif, Georgia, sans-serif;
}

section {
  position: relative;
  padding-bottom: calc(1.618rem * 4);
}
section {
  max-width: 20rem;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

a {
  color: inherit;
}

h1,
h2 {
  line-height: 1.2;
  font-weight: 600;
}
h1 {
  font-size: 1.65rem;
  line-height: 1.2;
  margin: var(--spacer-8) 0;
}
h2 {
  font-size: 1rem;
  line-height: 1.2;
}

.quote-list {
  list-style-type: none;
  padding-left: 1.1rem;
}
.quote-list li {
  border-left: 1px solid;
  margin-left: 0;
  padding-left: 1rem;
  margin-bottom: 1rem;
}

.quote-list li.show-more {
  border-left-color: transparent;
}
button {
  background: transparent;
  border: none;
  border-radius: 8px;
  background: rgba(0, 0, 0, 0.1);
  font-size: 0.9rem;
  padding: 0.125rem 0.325rem 0;
}

section {
  padding-top: 150px;
  margin-top: 100px;
  position: relative;
}
section:before {
  content: "";
  width: 200px;
  height: 200px;
  display: block;
  position: absolute;
  top: -50px;
  left: -100px;
}
#intro > :last-child {
  margin-top: var(--spacer-32);
}
#intro:before {
  background: url(/assets/img/sq-intro.svg);
}
#blog:before {
  background: url(/assets/img/sq-blog.svg);
}
#icon-galleries:before {
  background: url(/assets/img/sq-icon-galleries.svg);
}
#pies:before {
  background: url(/assets/img/sq-pies.svg);
}
#sassme:before {
  background: url(/assets/img/sq-sassme.svg);
}
#canistilluse:before {
  background: url(/assets/img/sq-canistilluse.svg);
}
#teamcolors:before {
  background: url(/assets/img/sq-teamcolors.svg);
}
#published-articles:before {
  background: url(/assets/img/sq-published-articles.svg);
}

.citations {
  list-style-type: none;
  padding-left: var(--spacer-8);
}
.citations li {
  border-left: 1px solid;
  padding-left: var(--spacer-16);
}
.citations li:not(:last-child) {
  margin-bottom: var(--spacer-8);
}

ul {
  list-style-type: circle;
  padding-left: var(--spacer-24);
}

ul li:not(:last-child) {
  margin-bottom: var(--spacer-8);
}

time {
  font-size: 0.8rem; /* 16 */
  white-space: nowrap;
  opacity: 0.5;
}
