/* @import url("https://fonts.googleapis.com/css2?family=Lora:wght@700&display=swap"); */
/* =============================================================================
   General
   ========================================================================== */

:root {
  --color-text: rgb(0 0 0);
  --color-text-muted: rgb(0 0 0 / 50%);
  --color-text-mutedest: rgb(0 0 0 / 30%);
  --color-bg: #f0f0f0;
  --color-bg-overlay: #e9e9e9;

  --spacer-8: 0.5rem;
  --spacer-12: 0.75rem;
  --spacer-16: 1rem;
  --spacer-24: 1.5rem;
  --spacer-32: 2rem;
  --spacer-48: 3rem;
  --spacer-64: 4rem;

  --spacer-72: calc(72rem / 20);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-text: rgb(255 255 255);
    --color-text-muted: rgb(255 255 255 / 50%);
    --color-text-mutedest: rgb(255 255 255 / 30%);
    --color-bg: #222222;
    --color-bg-overlay: #191919;
  }
}

html {
  background: var(--color-bg);
  font-size: 1rem;
  line-height: 1.5;
  color-scheme: light dark;
  color: var(--color-text-muted);
  scroll-behavior: smooth;
}

body {
  margin: 0 var(--spacer-16);
  font-family: "Atkinson Hyperlegible", ui-sans-serif, system-ui, -apple-system,
    "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body::before {
  content: url(/logo.svg);
}

h1,
h2,
h3,
h4,
h5 {
  font-size: 1rem;
  font-weight: 400;
  margin: 0;
}

p {
  margin: 0 0 1rlh 0;
}

h2 + p {
  margin-bottom: 0.125rlh;
  font-size: 0.875rem;
}

a {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid var(--color-text-mutedest);
}

a:hover {
  color: var(--color-text);
  border-bottom-color: var(--color-text);
}

h1 {
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: var(--color-text-mutedest);
  position: absolute;
  top: 0;
  left: -16rem;
}

h2 {
  color: var(--color-text);
}

/* =============================================================================
   Sections
   ========================================================================== */

section {
  position: relative;
  max-width: 40rem;
  margin: var(--spacer-48) var(--spacer-48) 0 24rem;
  clear: both;
}

dl {
  width: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
}
dt,
dd {
  float: left;
  padding: 0;
  margin: 0 0 var(--spacer-8) 0;
}

dt {
  width: 30%;
  color: var(--color-text);
}

dd {
  width: 70%;
}

footer {
  text-align: right;
  color: var(--color-text-mutedest);
  padding: var(--spacer-16) 0;
  font-size: 0.8rem;
  position: relative;
  z-index: 1;
}
