/* General =============================================================*/
:root {
  --color-text: rgb(0 0 0);
  --color-text-muted: rgb(0 0 0 / 50%);
  --color-text-mutedest: rgb(0 0 0 / 35%);
  --color-bg: #fff;

  --font-size-sm: 0.875rem;
  --font-size-base: 1rem;
  --font-size-lg: 1.125rem;
  --font-size-xl: 1.5rem;

  --border-radius: 16px;

  --spacer-8: 0.5rem;
  --spacer-12: 0.75rem;
  --spacer-16: 1rem;
  --spacer-24: 1.5rem;
  --spacer-32: 2rem;
  --spacer-48: 3rem;
  --spacer-64: 4rem;
  --spacer-72: 4.5rem;
  --spacer-96: 6rem;
  --spacer-128: 8rem;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --color-text: rgb(255 255 255);
    --color-text-muted: rgb(255 255 255 / 66%);
    --color-text-mutedest: rgb(255 255 255 / 33%);
    --color-bg: #1a1a1a;
  }
} */

html {
  background: var(--color-bg);
  font-size: 1rem;
  line-height: 1.5;
  color-scheme: light dark;
  color: var(--color-text);
  scroll-behavior: smooth;
}

body {
  margin: 0 var(--spacer-16);
  font-family: "Atkinson Hyperlegible", ui-sans-serif, system-ui, -apple-system,
    "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  padding-bottom: 20vh;

  max-width: 36rem;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5 {
  font-size: 1rem;
  font-weight: 400;
  margin: 0;
}

p {
  margin: 0 0 var(--spacer-24) 0;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: var(--color-text) !important;
  border-bottom-color: var(--color-text);
}

.unmuted {
  color: var(--color-text);
}

section h1 {
  font-size: 1.125rem;
  /* text-transform: uppercase;
        letter-spacing: 0.1rem; */
  color: var(--color-text);
  font-weight: 700;
  margin: 0 0 var(--spacer-64);
  position: relative;

  /* background: var(--color-text-mutedest);
        color: var(--color-bg);
        display: inline-block;
        padding: 0 var(--spacer-8);
        margin-left: calc(-1 * var(--spacer-8));*/
}

h2 {
  color: var(--color-text);
  /* font-weight: 700; */
}

summary {
  margin-bottom: var(--spacer-24);
  color: var(--color-text-mutedest);
}

section#passion-projects summary {
  margin-left: var(--spacer-24);
}

/* Section =============================================================*/

header,
section {
  margin: var(--spacer-128) auto var(--spacer-128);
}

header {
  margin-top: 0;
}

header img {
  margin-bottom: var(--spacer-16);
  max-width: 100%;
  height: auto;
}

header h1 {
  font-size: 1.125rem;
}

header img {
  margin-bottom: var(--spacer-16);
  max-width: 100%;
  height: auto;
}

header,
section {
  position: relative;
  max-width: 40rem;
  clear: both;
}

section#employment p a[href*="blog.jim-nielsen.com"] {
  color: var(--color-text-mutedest);
}

ul,
li {
  list-style-type: none;
}
dl,
p:has(q) {
  width: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

#contact dt {
  color: var(--color-text);
}

p:has(q) {
  margin-bottom: var(--spacer-24);
  margin-left: var(--spacer-16);
}

cite {
  font-style: normal;
}

footer {
  color: var(--color-text-mutedest);
  font-size: 0.8rem;
  position: relative;
  z-index: 1;
  margin-top: var(--spacer-128);
  margin-bottom: var(--spacer-16);
  text-align: center;
}

.contact {
  overflow: visible;
  margin: 0;
  padding: 0;
  display: flex;
  margin-top: calc(var(--spacer-16) * -1);
}
.contact li {
  color: var(--color-text);
  display: flex;
  gap: 6px;
  align-items: center;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: var(--spacer-24);
  margin-bottom: var(--spacer-12);
  flex-wrap: wrap;
}
.contact li svg {
  width: 21px;
  height: 21px;
}

.highlight {
  background-color: hsl(60deg 100% 50% / 20%);
}

.sect {
  display: flex;
  flex-direction: column;
  gap: var(--spacer-8);
  margin-bottom: var(--spacer-64);
}

.list-heading {
  font-size: var(--font-size-xl);
  font-weight: 700;
  padding: 0 var(--spacer-16);
  display: flex;
  align-items: center;
}
.list-heading a {
  margin-left: auto;
}

.list-footer {
  font-size: var(--font-size-sm);
  color: var(--color-text-muted);
  padding: 0 var(--spacer-16);
}

.list {
  /* padding: var(--spacer-16); */
  padding: 0;
  margin: 0;
  background-color: #f7f7f7;
  border-radius: var(--border-radius);
  overflow: hidden;
}
.list--has-dividers > li:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.033);
}

.list-item {
  display: flex;
  align-items: center;
  padding: var(--spacer-16);
}
.list-item--link:hover {
  background-color: #f0f0f0;
}
.list-item--between {
  justify-content: space-between;
  gap: var(--spacer-16);
}
.list-item--between .list-item__secondary {
  text-align: right;
}

.list-item__primary {
  font-size: var(--font-size-lg);
}
.list-item__secondary {
  font-size: var(--font-size-base);
  color: var(--color-text-muted);
  flex-shrink: 0;
}
