/* General =============================================================*/
:root {
  --color-text: rgb(0 0 0);
  --color-text-muted: rgb(0 0 0 / 50%);
  --color-text-mutedest: rgb(0 0 0 / 35%);
  --color-bg: #fafafa;

  --spacer-8: 0.5rem;
  --spacer-12: 0.75rem;
  --spacer-16: 1rem;
  --spacer-24: 1.5rem;
  --spacer-32: 2rem;
  --spacer-48: 3rem;
  --spacer-64: 4rem;
  --spacer-72: 4.5rem;
  --spacer-96: 6rem;
  --spacer-128: 8rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-text: rgb(255 255 255);
    --color-text-muted: rgb(255 255 255 / 66%);
    --color-text-mutedest: rgb(255 255 255 / 33%);
    --color-bg: #0b0e16;
  }
}

html {
  background: var(--color-bg);
  font-size: 1rem;
  line-height: 1.5;
  color-scheme: light dark;
  color: var(--color-text-muted);
  scroll-behavior: smooth;
}

body {
  margin: 0 var(--spacer-16);
  font-family: "Atkinson Hyperlegible", ui-sans-serif, system-ui, -apple-system,
    "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  padding-bottom: 20vh;
}

h1,
h2,
h3,
h4,
h5 {
  font-size: 1rem;
  font-weight: 400;
  margin: 0;
}

p {
  margin: 0 0 var(--spacer-24) 0;
}

a {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid var(--color-text-mutedest);
}

a:hover {
  color: var(--color-text) !important;
  border-bottom-color: var(--color-text);
}

.unmuted {
  color: var(--color-text);
}

section h1 {
  font-size: 1.125rem;
  /* text-transform: uppercase;
        letter-spacing: 0.1rem; */
  color: var(--color-text);
  font-weight: 700;
  margin: 0 0 var(--spacer-64);
  position: relative;

  /* background: var(--color-text-mutedest);
        color: var(--color-bg);
        display: inline-block;
        padding: 0 var(--spacer-8);
        margin-left: calc(-1 * var(--spacer-8));*/
}

h2 {
  color: var(--color-text);
  /* font-weight: 700; */
}

summary {
  margin-bottom: var(--spacer-24);
  color: var(--color-text-mutedest);
}

section#passion-projects summary {
  margin-left: var(--spacer-24);
}

/* Section =============================================================*/

header,
section {
  margin: var(--spacer-128) auto var(--spacer-128);
}

header {
  margin-top: var(--spacer-24);
}

header img {
  margin-bottom: var(--spacer-16);
  max-width: 100%;
  height: auto;
}

header h1 {
  font-size: 1.125rem;
}

header img {
  margin-bottom: var(--spacer-16);
  max-width: 100%;
  height: auto;
}

header,
section {
  position: relative;
  max-width: 40rem;
  clear: both;
}

section#employment p a[href*="blog.jim-nielsen.com"] {
  color: var(--color-text-mutedest);
}

ul,
li {
  list-style-type: none;
}
dl,
p:has(q) {
  width: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

#contact dt {
  color: var(--color-text);
}

p:has(q) {
  margin-bottom: var(--spacer-24);
  margin-left: var(--spacer-16);
}

cite {
  font-style: normal;
}

footer {
  color: var(--color-text-mutedest);
  font-size: 0.8rem;
  position: relative;
  z-index: 1;
  margin-top: var(--spacer-128);
  margin-bottom: var(--spacer-16);
  text-align: center;
}

.contact {
  overflow: visible;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}
.contact li {
  display: flex;
  gap: 12px;
  align-items: center;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: var(--spacer-24);
  margin-bottom: var(--spacer-12);
}
.contact .i-email:before {
  mask-image: url("/icon-email.svg");
}
.contact .i-twitter:before {
  mask-image: url("/icon-twitter.svg");
}
.contact .i-mastodon:before {
  mask-image: url("/icon-mastodon.svg");
}
.contact .i-bluesky:before {
  mask-image: url("/icon-bluesky.svg");
}
.contact .i-github:before {
  mask-image: url("/icon-github.svg");
}
.contact .i-linkedin:before {
  mask-image: url("/icon-linkedin.svg");
}
.contact .i-discord:before {
  mask-image: url("/icon-discord.svg");
}
.contact .i-dribbble:before {
  mask-image: url("/icon-dribbble.svg");
}
.contact .i-threads:before {
  mask-image: url("/icon-threads.svg");
}
.contact .i-instagram:before {
  mask-image: url("/icon-instagram.svg");
}
.contact li:before {
  content: "";
  display: block;
  min-width: 20px;
  width: 20px;
  height: 20px;
  background-color: var(--color-text);
  mask-size: 20px;
}
.contact li:has(a:hover):before {
  background-color: var(--color-text);
}
.contact li span:after {
  /* content: " / "; */
  margin-left: 0.5rem;
  color: var(--color-text-mutedest);
}

.list {
  padding: 0;
  margin: 0 0 var(--spacer-64) 0;
}

.list li {
  padding: 0.5rem 0;
}
@media (min-width: 600px) {
  .list li {
    display: flex;
  }
}
.list li > div:first-child {
  min-width: 11rem;
  margin-right: 1rem;
  color: var(--color-text);
}
.list q {
  display: block;

  position: relative;
}
.list q:before {
  position: absolute;
  right: 100%;
}

.highlight {
  background-color: hsl(60deg 100% 50% / 20%);
}
