/* General =============================================================*/
:root {
  --color-text: rgb(0 0 0);
  --color-text-muted: rgb(0 0 0 / 50%);
  --color-text-mutedest: rgb(0 0 0 / 35%);
  --color-bg: #fff;

  --color-red: rgb(255, 56, 60);
  --color-orange: rgb(255, 141, 40);
  --color-yellow: rgb(255, 204, 0);
  --color-green: rgb(62, 199, 89);
  --color-mint: rgb(0, 200, 179);
  --color-teal: rgb(0, 193, 205);
  --color-cyan: rgb(0, 192, 232);
  --color-blue: rgb(10, 126, 230);
  --color-indigo: rgb(97, 86, 245);
  --color-purple: rgb(203, 80, 224);
  --color-pink: rgb(255, 86, 145);

  --font-size-sm: 0.875rem;
  --font-size-base: 1rem;
  --font-size-lg: 1.125rem;
  --font-size-xl: 1.5rem;

  --border-radius: 16px;

  --spacer-8: 0.5rem;
  --spacer-12: 0.75rem;
  --spacer-16: 1rem;
  --spacer-24: 1.5rem;
  --spacer-32: 2rem;
  --spacer-40: 2.5rem;
  --spacer-48: 3rem;
  --spacer-64: 4rem;
  --spacer-72: 4.5rem;
  --spacer-96: 6rem;
  --spacer-128: 8rem;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --color-text: rgb(255 255 255);
    --color-text-muted: rgb(255 255 255 / 66%);
    --color-text-mutedest: rgb(255 255 255 / 33%);
    --color-bg: #1a1a1a;
  }
} */

html {
  background: var(--color-bg);
  font-size: 1rem;
  line-height: 1.2;
  color-scheme: light dark;
  color: var(--color-text);
  scroll-behavior: smooth;
}

body {
  margin: 0 var(--spacer-16);
  font-family: "Atkinson Hyperlegible", ui-sans-serif, system-ui, -apple-system,
    "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  padding-bottom: 20vh;

  max-width: 36rem;
  margin: 0 auto;
  padding-left: var(--spacer-16);
  padding-right: var(--spacer-16);
}

h1,
h2,
h3,
h4,
h5 {
  font-size: 1rem;
  font-weight: 400;
  margin: 0;
}

p {
  margin: 0 0 var(--spacer-24) 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.unmuted {
  color: var(--color-text);
}

section h1 {
  font-size: 1.125rem;
  /* text-transform: uppercase;
        letter-spacing: 0.1rem; */
  color: var(--color-text);
  font-weight: 700;
  margin: 0 0 var(--spacer-64);
  position: relative;

  /* background: var(--color-text-mutedest);
        color: var(--color-bg);
        display: inline-block;
        padding: 0 var(--spacer-8);
        margin-left: calc(-1 * var(--spacer-8));*/
}

h2 {
  color: var(--color-text);
  /* font-weight: 700; */
}

section#passion-projects summary {
  margin-left: var(--spacer-24);
}

/* Section =============================================================*/

section {
  margin: var(--spacer-128) auto var(--spacer-128);
}

section {
  position: relative;
  max-width: 40rem;
  clear: both;
}

section#employment p a[href*="blog.jim-nielsen.com"] {
  color: var(--color-text-mutedest);
}

ul,
li {
  list-style-type: none;
}
dl,
p:has(q) {
  width: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

#contact dt {
  color: var(--color-text);
}

p:has(q) {
  margin-bottom: var(--spacer-24);
  margin-left: var(--spacer-16);
}

cite {
  font-style: normal;
}

footer {
  color: var(--color-text-mutedest);
  font-size: 0.8rem;
  position: relative;
  z-index: 1;
  margin-top: var(--spacer-128);
  margin-bottom: var(--spacer-16);
  text-align: center;
}

.highlight {
  background-color: hsl(60deg 100% 50% / 20%);
}

.sect {
  display: flex;
  flex-direction: column;
  gap: var(--spacer-8);
  margin-bottom: var(--spacer-64);
}

.list-heading {
  font-size: var(--font-size-xl);
  font-weight: 700;
  padding: 0 var(--spacer-16);
  display: flex;
  align-items: center;
}
.list-heading a {
  margin-left: auto;
  display: flex;
  align-items: center;
}
.list-heading svg {
  width: 24px;
  height: 24px;
}

.list-footer {
  font-size: var(--font-size-sm);
  color: var(--color-text-muted);
  padding: 0 var(--spacer-16);
}
.list-footer a {
  text-decoration: underline;

  &:hover {
    color: var(--color-text);
  }
}

.list {
  /* padding: var(--spacer-16); */
  padding: 0;
  margin: 0;
  background-color: #f7f7f7;
  border-radius: var(--border-radius);
  overflow: hidden;
}
.list--has-dividers > li:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.033);
}
.list--link:hover {
  background-color: #f0f0f0;
}
.list--images {
  display: grid;
  flex-wrap: wrap;
  gap: var(--spacer-16);
  padding: var(--spacer-16);
  grid-template-columns: repeat(auto-fill, minmax(64px, 1fr));
}
#ios.list--images img {
  border-radius: 22%;
}
#watchos.list--images img {
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.33);
}
.list--images .list-item {
  padding: 0;
}

.list-item--images {
  display: flex;
  gap: var(--spacer-16);
  overflow-x: scroll;
}
.list-item--images img[src*="/ios/"] {
  width: 52px;
  height: 52px;
  margin: 0 6px;
  border-radius: 22%;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.033);
}
.list-item--images img[src*="/watchos/"] {
  width: 52px;
  height: 52px;
  margin: 0 6px;
  border-radius: 50%;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.033);
}
.list-item--images img[src*="/macos/"] {
  width: 64px;
  height: 64px;
}

.list-item {
  display: flex;
  align-items: center;
  padding: var(--spacer-16);
}
.list-item--avatar {
  flex-direction: row;
  gap: var(--spacer-16);
}
.list-item-stack {
  display: flex;
  flex-direction: column;
}
.list-item--toggle {
  user-select: none;
}
.list-item--toggle,
.list-item--link {
  padding-right: var(--spacer-40);
  position: relative;
}
.list-item--toggle::after,
.list-item--link::after {
  content: url("/heroicon-chevron-down.svg");
  width: 16px;
  height: 16px;
  opacity: 0.5;
  position: absolute;
  right: var(--spacer-16);
  top: 50%;
  margin-top: -8px;
  transform-origin: 50%;
}
.list-item--link::after {
  transform: rotate(-90deg);
}

:open .list-item--toggle::after {
  transform: rotate(180deg);
}
.list-item__toggle-content {
  padding: 0 var(--spacer-16) var(--spacer-16);
  color: var(--color-text-muted);
}

.list-item__toggle-content a {
  text-decoration: underline;
}

.list-item--link:hover {
  background-color: #f0f0f0;
}
.list-item--between {
  justify-content: space-between;
  gap: var(--spacer-16);
}
.list-item--between .list-item__secondary {
  text-align: right;
  /* Truncate text */
  max-width: 50%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.list-item__primary {
  font-size: var(--font-size-lg);
}
.list-item__secondary {
  font-size: var(--font-size-base);
  color: var(--color-text-muted);
  flex-shrink: 0;
  line-height: 1.4;
}

.ml-auto {
  margin-left: auto;
}

.list-item--gap {
  gap: var(--spacer-16);
}

.list-item img[src*="google.com"] {
  mix-blend-mode: multiply;
}

.list-item--quote .list-item__secondary {
  text-indent: -0.33333em;
}

.avatar {
  border-radius: 50%;
}

#blog .list-heading {
  color: var(--color-red);
}
#notes .list-heading {
  color: var(--color-blue);
}
#people .list-heading {
  color: var(--color-pink);
}
#pubs .list-heading {
  color: var(--color-red);
}
#hackernews .list-heading {
  color: var(--color-orange);
}
#interviews .list-heading {
  color: var(--color-green);
}

/* Header =================================================================== */

.header {
  display: flex;
  flex-direction: column;
  margin-top: var(--spacer-8);
  margin-bottom: var(--spacer-96);
  text-align: center;
  gap: var(--spacer-16);
}
.header img {
  height: auto;
  width: 100%;
  /* width: calc(100% + var(--spacer-16) * 2); */
  /* margin: 0 calc(-1 * var(--spacer-16)); */
  border-radius: var(--border-radius) var(--border-radius) 0 0;
}
.header h2 {
  font-size: var(--font-size-xl);
  line-height: 1.2;
}

.header__contact {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacer-16);
  font-size: var(--font-size-lg);
  margin: 0;
  padding: 0;
}
.header__contact a:hover {
  text-decoration: underline;
}
.header__contact a[href*="mastodon"] {
  color: #563acc;
}
.header__contact a[href*="bsky"] {
  color: #006aff;
}
.header__contact a[href*="linkedin"] {
  color: #0077b5;
}
.header__contact a[href*="mailto"] {
  color: var(--color-blue);
}
.header__contact a[href*="mailto"] span:nth-child(2) {
  color: var(--color-red);
}
.header__contact a[href*="mailto"] span:nth-child(3) {
  color: var(--color-green);
}
.header__contact a[href*="mailto"] span:nth-child(4) {
  color: var(--color-orange);
}
